[2018-09-14 21:29] jenweber opened #2 "Maybe talk about lazy loading in these guides?"
See https://github.com/ember-cli/ember-cli/issues/7908

[2018-09-30 22:07] jenweber opened #3 "Quest - write the MVP of new ember-cli-guides"
Thanks for your interest in helping with this project! We are porting over content from [ember-cli.com](https://ember-cli.com), editing it, and writing new things. This project is part of an [RFC](https://github.com/ember-cli/rfcs/pull/120)

Choose a task, comment on this issue to say which section, then open an issue with the same name. The newly opened issue is the best place for Q&A about the t

[2018-09-30 22:56] jenweber commented on #3
## Completed tasks:

[2018-10-01 11:12] sandstrom commented on #3
I've made a PR for **Port over watchman instructions**: https://github.com/ember-learn/cli-guides-source/pull/4

[2018-10-02 04:26] cah-danmonroe opened #5 "Port over Editors."
I'll take a shot at this.

[2018-10-02 04:27] cah-danmonroe commented on #5
Not environments - Editors

[2018-10-02 04:28] cah-danmonroe commented on #5
Editors, not environments

[2018-10-02 04:34] cah-danmonroe commented on #3
I'll take a look at porting Editors

[2018-10-02 19:42] Gaurav0 commented on #3
I've made a PR for port over Windows support (#6).

[2018-10-04 01:27] jenweber commented on #5
Closed by merging #7 🎉

[2018-10-04 01:27] #5 closed

[2018-10-04 01:49] BradenLawrence commented on #3
I'll start working on:
"Port over Common Issues. Mostly copy and paste from this source code"

[2018-10-04 02:29] cah-danmonroe commented on #3
I'll do Port over Upgrading.

[2018-10-04 02:32] cah-danmonroe opened #11 "Port over Upgrading"
I'll do this one as well.

[2018-10-04 02:58] cah-danmonroe commented on #11
I'm going to remove this portion:  ```This is different from the existing ember init command. That command tries to reset your project back to a brand new project. It removes all your changes and additions.```

In my experience, running `ember init` is too destructive and tedious.

I'm also going to include the example from ember-cli-update

[2018-10-04 03:07] jenweber commented on #11
I totally agree, now that we have such nice alternatives.

[2018-10-04 08:19] locks opened #15 "Update screenshots"
cc @aklkv

[2018-10-06 02:57] #15 closed

[2018-10-10 04:47] ddoria921 commented on #3
I'll work on:
"Port over Environments. Mostly copy and paste from this source code"

[2018-10-11 02:42] BradenLawrence commented on #3
Taking this one next:
"Port over Environments. Mostly copy and paste from this source code"

[2018-10-11 03:01] ddoria921 commented on #3
@BradenLawrence I started on that one yesterday 😄

[2018-10-11 03:13] BradenLawrence commented on #3
So you did! Sorry I missed that. Taking this one instead:
"Port over managing dependencies. Mostly copy and paste from this source code"

[2018-10-11 03:17] jenweber commented on #11
closed by merging #13

[2018-10-11 03:17] #11 closed

[2018-10-11 14:24] Gaurav0 opened #21 "Need to reorganize / edit "Managing Dependencies" section"
I don't think this belongs in "writing addons" because this is mostly about importing and customizing dependencies which can either be done in the app via ember-cli-build.js or in the addon via index.js. How exactly it should be organized probably deserves further discussion on discord. There is a discussion about this on Discord here: https://discordapp.com/channels/480462759797063690/48077744420

[2018-10-13 00:28] sivakumar-kailasam opened #22 "Document why chrome is a prerequisite & about possible alternatives"
Now with Firefox working in headless mode we should document this as a part of the guides.

Original inspiration: https://twitter.com/Romgere_dev/status/1050702153302593536?s=19

[2018-10-13 09:02] kellyselden commented on #22
https://twitter.com/kellyselden/status/1051035243011080193

A good Firefox example if you want to use it.

[2018-10-13 09:16] sivakumar-kailasam commented on #22
Thanks @kellyselden

[2018-10-13 17:43] BradenLawrence commented on #21
Thanks for reviewing and adding this issue! I can pick up a few of the items you called out:
- "Mention it will use yarn when there is both a yarn.lock and a package-lock.json"
- "It should be not recommended to use bower. It is not officially deprecated, but it should be."
- "but does not watch node_modules."
I'll add any followup questions inline with your review.

[2018-10-20 00:18] jenweber commented on #21
Proposed breakdown:

Basic Use - Importing Assets
Advanced Use - Managing Dependencies
Writing Addons - Including Assets In Addons

Copied from Gaurav's comments on https://github.com/ember-learn/cli-guides-source/pull/24

[2018-11-10 20:51] jenweber opened #32 "Quest - draft new content for the cli docs"
Issue #3 brings us to MVP. Here's the plan for what comes after. Our goal is to empower new addon authors.

- [ ] write a second addon authoring tutorial. It can focus on wrapping an existing library.
- [x] finish reviewing and revising legacy content
- [ ] cover common configurations
- [ ] link to or import some pieces of Broccoli docs
- [ ] ???

[2018-11-15 20:51] maxwondercorn opened #34 "Developing addons audit"
Overall, I think the tutorial has most of the import topics covered but I think `isDevelopingAddon` should be mentioned as you won't see live reloads in your linked app if you make changes to the addon

Developers are used to seeing the reloads when working on regular ember apps.

Second, it's not part of old cli docs but should we mention ember-cli-github-pages as a way to deploy to gh-pages, sim

[2018-11-15 20:59] Gaurav0 commented on #34
We really want to expand on using all the hooks too.

[2018-11-16 01:19] maxwondercorn commented on #34
Blueprint hooks?  Asset imports should also be included but that may make more sense in the wrapping the library example.

Is the first example the simplest and more is layered into the next one? Don't know what the thought process is.

[2018-11-16 07:05] maxwondercorn commented on #3
I'm starting to work on blueprints. I maintain a few addons, but someone with more experience than may need to flush it out after I'm done

[2018-11-16 18:48] Gaurav0 commented on #34
I mean the ember-cli hooks that addons can use in index.js

[2018-11-17 04:20] maxwondercorn opened #36 "Blueprints - podModulePrefix and pods"
The existing blueprints section covers the differences between classic and pods apps as related to blueprints. `podModulePrefix` is mentioned without a definition or reference.

Since pods are still used I wanted to link `podModulePrefix` back to its definition.  It's defined in a section of the user guide that we have't brought over.  The question is how do we handle pods in the new guides?

Unti

[2018-11-17 14:41] Gaurav0 commented on #36
Sounds good to me.

[2018-11-25 21:21] jenweber commented on #3
Good news, everyone! We have reached MVP and the launch is scheduled for Monday, November 26th! Tomorrow, the content will become available at https://cli.emberjs.com.  Thank you so much for all your work ❤️

The next phase for this project will focus on resources for addon developers. We will also implement redirects from the old CLI site, and add links to this site from many places. If you would

[2018-11-25 21:21] #3 closed

[2018-11-25 23:42] jenweber opened #43 "Include some documentation about pods"
So, a ton of people use pods but we don't really cover it well anywhere, along the lines of "what are pods" and "how do they work."

I think maybe this content should go in the Appendix or Advanced sections.

[2018-11-25 23:43] jenweber commented on #21
Closed by #40

[2018-11-25 23:43] #21 closed

[2018-11-25 23:46] jenweber opened #44 "Work this old content in somewhere"
We do not currently have a place to redirect to for some of the content from the old site. It has the following endpoints:

/user-guide/#using-modules
 /user-guide/#naming-conventions

[2018-11-25 23:48] jenweber commented on #34
@maxwondercorn I like the idea of adding gh-pages in. I think [documenting.md](https://github.com/ember-learn/cli-guides/blob/master/guides/writing-addons/documenting.md) is a good place for it to go!

[2018-11-26 04:19] jenweber opened #46 "Announce and share the new CLI Guides"
- [x] blog post drafted https://github.com/emberjs/website/pull/3703
    - [ ] blog post published
- [x] PR opened to add CLI Guides to the navbar defaults of ember-styleguide https://github.com/ember-learn/ember-styleguide/pull/115
    - [x] merged
- [ ] After a merge & release of ember-styleguide, PRs to update the ember-styleguide versions used by:
    - [ ] The Guides
    - [ ] The deprecation

[2018-11-26 13:05] jenweber opened #51 "Edit links go to the wrong place"
See issue in Guidemaker https://github.com/empress/guidemaker/issues/3

[2018-11-26 14:05] #51 closed

[2018-11-26 22:47] simonihmig opened #55 "404s loading .json files"
Seems the `index` pages all trigger a request to a non-existing .json file:

![image](https://user-images.githubusercontent.com/1325249/49046766-85ce0680-f1d5-11e8-9902-18cf264c224f.png)

[2018-11-27 00:07] levimoore commented on #34
In the section of the tutorial called "Making a UI component available in block form" I think you mean markup instead of markdown. Excited for the new docs... 😀

[2018-11-28 00:18] mansona commented on #55
@simonihmig you are correct in saying there are performance costs, as there will be a double round-trip in these cases.

The architecture of the Ember Guides App (and all this tech is just that same app in a slightly more generalised way) vastly favoured **simplicity** so that we could encourage as many contributions as possible.

We are at the point now that it is likely that we can spend some cy

[2018-11-28 03:08] jenweber opened #61 "Spellcheck or lint for common mistakes"
It would be helpful to have a test/linting for the following:

- "JavaScript"
- "Ember"
- "Ember.js"
- "npm"

[2018-11-28 05:17] MelSumner opened #62 "Add Broccoli basics to guides"
With the Broccoli 2.0 implementation complete, we should ensure that there is an MVP for documentation in the guides. In addition to a basic introduction, the guides can link to the more extensive Broccoli documentation.

This issue is part of the [Octane Edition](https://github.com/emberjs/ember.js/issues/17234) of Ember.js.

[2018-11-28 05:36] maxwondercorn commented on #61
remark is part of [unified](https://unified.js.org) and there is a remark plugin to use [retext](https://github.com/retextjs/retext).  retext has spellchecking.  I haven't done it, but there is way of configuring the plugins to work together.  I believe the same npm `lint:md` script would do it all.

This would be different than the other guide repos but it could be an experiment.  If it works her

[2018-11-29 03:26] mehulkar opened #65 "API Reference link in header goes to emberjs"
The number 1 thing I go to the CLI website for is when I’m writing an addon and need to refer to the different hooks available. On my phone, i opened the new website and saw an API Reference in the header menu, but looks like it goes to the Ember API. Not sure if this is intentional or a bad link, but would be great to have a reference to the addon index.js API reference somewhere.

[2018-11-29 03:30] mehulkar opened #66 "Navigation glitch on iOS"
In safari on iOS, when i click the “next” article link as I’m navigating the guides, the page jumps to the top, before the content changes. It makes it feel like the link didn’t work, so I start scrolling down again, and then the content magically changes, which is jarring.

[2018-11-29 03:39] mehulkar opened #67 "Top level toggle to switch from npm to yarn instructions"
It can be confusing to constantly read references to yarn and npm. It would be much simpler for the reader to select npm or yarn once and read the whole set of guides in that context.

[2018-11-29 03:46] mehulkar opened #68 "Installing Canary build docs"
https://cli.emberjs.com/release/appendix/common-issues/

Installing Canary Build docs reference bower install, which I think is outdated info?

[2018-11-29 07:55] jelhan opened #69 "Inconsistent name ember-cli vs Ember CLI"
New docs are using both `ember-cli` and `Ember CLI`. E.g. there is a [page title "The Ember CLI"](https://cli.emberjs.com/release/) and a [subtopic header "Installing the ember-cli"](https://cli.emberjs.com/release/basic-use/#installingtheembercli) at the same time. This should be normalized IMO. But I'm not sure which one to favor.

Please note that there is also an open discussion about renaming

[2018-11-29 18:00] maxwondercorn opened #72 "Page title inconsistencies"
The guide page titles are inconsistent with both title case and sentence case.  Other guides are title case. Creating issue so it's on the list.

[2018-11-29 21:20] maxwondercorn commented on #72
sorry same as #64

[2018-11-29 21:20] #72 closed

[2018-12-04 20:30] maxwondercorn commented on #43
They may be more to add later, but there's now pods info under project layouts.  I must have forgotten to included resolve issue #43 in the PR

[2018-12-04 20:34] Gaurav0 commented on #43
Fixed with #56

[2018-12-04 20:34] #43 closed

[2018-12-06 04:30] #61 closed

[2018-12-06 04:45] jenweber commented on #65
The navbar is shared across all Ember website apps. For the next release of the navbar, I renamed the Guides to Ember.js Guides but should have also renamed "API Reference" to Ember.js API.

The cli api docs are currently referenced in the Table of Contents: https://cli.emberjs.com/release/api-documentation/ Do you think that's enough? I would propose adding them to the main navbar, but they aren'

[2018-12-06 04:47] jenweber commented on #66
Thanks for reporting! We are looking for a solution to this in the guidemaker repo that governs a lot of the app's behavior. I'll leave this open until it's fixed there.

[2018-12-06 04:53] jenweber commented on #68
Yes, bower is outdated.

I think https://emberjs.com/builds/canary/ has the right instructions. A good PR for this could just link to that resource.

[2018-12-06 04:56] jenweber opened #77 "Add checks for broken links"
As noted in #73, to add checks for broken links using remark, we need to run Node 8 in our CI.

After #76 is merged, we can add it!

cc @maxwondercorn

[2018-12-06 06:28] maxwondercorn opened #78 "Potential ember-data name change"
Issue to track potential `ember-data` name change per #69. Also reference ember-learn/guides-source#184.

[2018-12-06 16:49] oligriffiths commented on #62
https://broccoli.build https://github.com/broccolijs/broccoli

Working on getting started https://github.com/broccolijs/broccolijs.github.io/pull/1 guide and then an "about/thinking in broccoli" guide to cover the basic and the core concepts.

[2018-12-06 19:35] maxwondercorn commented on #77
I've run into a quandary with checking broken links.  There is one link that will always fail in CI and that is `http://localhost:4200`.  The linter has no method for whitelisting or excluding urls to check.

By default Remark only issues warnings, so the current lint process doesn't throw an error if the linter finds anything.  If we markdown lint errors we were't catching them in CI.  Remark wil

[2018-12-06 19:43] mansona commented on #77
@maxwondercorn the alternative is that we could do the link checking ourselves 🤔 We're already checking internal links with the [guidemaker link checker](https://github.com/ember-learn/cli-guides/blob/master/node-tests/link-checker.js) (which is essentially just a port of @jenweber's link-checking code on the Ember Guides)

We could expand that link checker to also check outbound links 🤔 What kind

[2018-12-06 21:40] maxwondercorn commented on #77
@mansona The existing checks in node-tests are only for relative links in the markdown.  The link checker I'm referring to will catch outbound links as you indicated.

You gave me an idea 🤔 I can add a script command just to lint dead links.  It can be manually run as needed. We can have the other linting generate errors to catch inconsistencies.

[2018-12-06 23:12] jenweber commented on #77
I think remark would prob welcome the whitelisting PR. The remark ecosystem is on the upswing and I know one of the maintainers.

[2018-12-07 19:52] maxwondercorn commented on #77
PR #79 closed per discussion about dead link checking - needs to be automated from day one.

[2018-12-11 11:00] mansona opened #81 "Show the ember-cli logo instead of the generic Ember logo"
For the cli-guides we should show the ember-cli logo in the top left.

![image 2018-12-11 at 10 44 50 a m](https://user-images.githubusercontent.com/594890/49795425-dc892380-fd31-11e8-8239-cd57221df88f.png)

As we are using guidemaker for the ember-cli guides we will need to make this a configurable feature of the [guidemaker-ember-template](https://github.com/ember-learn/guidemaker-ember-template

[2019-01-11 06:03] ppcano opened #84 "Addon project structure"
The previous ember-cli guide shows more information regarding the conventions of the addon structure.

- [previous](https://ember-cli.com/extending/#addon-project-structure)

- [latest](https://cli.emberjs.com/release/writing-addons/#addonfilestructure)

When looking at ember-cli/ember-cli#8342, I wanted to know how `test-support` and `addon-test-support` works, but this info is not available in t

[2019-01-15 09:43] mansona opened #85 "Document the difference between index.js and ember-cli-build.js in an Addon"
I recently got a question in the Ember Community Discord:

And here was my answer:

It seems to me that as we have been training people that the `ember-cli-build.js` is the "entry point" to an Ember App it is likely that we will confuse people when they look at an addon. I assume we might be able to add a note to https://cli.emberjs.com/release/writing-addons/#addonfilestructure or somewhere that

[2019-01-24 16:46] jenweber opened #86 "Convert Component invocation examples into Angle Brackets notation"
@cah-danmonroe has volunteered to help do this!

Part of work for https://github.com/ember-learn/guides-source/issues/139

[2019-01-24 17:12] cah-danmonroe commented on #86
I'm on it...

[2019-01-25 20:49] efx opened #88 "document / provide recipe on how to use ember-cli proxies for local development"
## backstory
We use `ember server --secure-proxy false --proxy https://127.0.0.1:4000` for local development. We proxy to a node.js application as our API server at port 4000. A few of our endpoints stream a downloaded file to the browser. When I switched to using `ember serve`, over a custom configured `apache`, these endpoint downloads failed locally.
## main problem
I searched for about 6h on t

[2019-01-26 19:01] jenweber commented on #88
Hi, thanks for writing this up! What's your opinion on where it belongs?

I think `--proxy` overall isn't described sufficiently and I want to add it in. I also remember being confused by it.

[2019-01-30 18:38] oligriffiths commented on #62
@MelSumner waiting for feedback on https://github.com/broccolijs/broccolijs.github.io/pull/2

[2019-02-11 13:07] locks opened #91 "Improve code samples"
We have infrastructure to show the path of the file the sample corresponds to, as well as the type of file. For example:

[code]

[2019-02-19 20:16] MelSumner commented on #62
Hi @oligriffiths - are there any blockers I can help with?

[2019-02-19 20:41] oligriffiths commented on #62
@MelSumner If you'd like to look at https://github.com/broccolijs/broccolijs.github.io/pull/2 and working on some WIP documentation on plugin authorship https://github.com/broccolijs/broccolijs.github.io/pull/8

[2019-02-22 07:55] ppcano opened #98 "`devDependencies` vs `dependencies` in addons."
https://github.com/ember-decorators/ember-decorators/issues/134#issuecomment-317098014

This case looks to be the same than having to set `ember-cli-htmlbars` in the `dependencies` for component addons.

It may be good to document this detail when talking about the `Dummy` app.

[2019-02-22 15:09] rwjblue commented on #98
Some additional info for someone willing to pick this up (from [this discord convo](https://discordapp.com/channels/480462759797063690/485861149821239298/548249164224397312) between @nathanhammond and myself):

[code]

[2019-02-22 15:15] maxwondercorn commented on #98
I can take a shot at this over the weekend

[2019-02-23 20:11] jenweber commented on #98
Awesome, thank you :) I've been PR-ing some of this info into READMEs of addons that are useful to put inside other addons, and we really need it in the base learning materials.

[2019-03-06 07:50] maxwondercorn commented on #88
There is a bit on the -proxy flag at the end of `developer tools` section. That should be merged into the new content

[2019-03-12 04:19] #91 closed

[2019-03-12 05:37] maxwondercorn commented on #86
#87 was merged so this issue can be closed

[2019-03-12 11:32] acorncom commented on #62
@oligriffiths just sent in some feedback there, what else do you think we need on this issue?

[2019-03-12 12:58] jenweber commented on #86
Closed by a merged PR

[2019-03-12 12:58] #86 closed

[2019-03-14 16:46] acorncom commented on #62
Per discussions with @MelSumner just now, we're envisioning that this would be a few simple paragraphs explaining a little about Broccoli with a link over the main Broccoli site.

I'll aim to work on this on March 18th, but if someone has umph beforehand, **please**, pick it up! 😄

[2019-03-14 16:47] oligriffiths commented on #62
https://broccoli.build is the site.

got some plugin docs nearly ready https://github.com/broccolijs/broccolijs.github.io/pull/8
and I'm working on something for the guides that explain the addon hooks and how to integrate those with the build pipeline and broccoli plugins

[2019-03-14 18:46] acorncom commented on #62
@oligriffiths sweet 🎉  I'm drowning in Github notifications atm, but if you want a second pair of eyes to make sure that gets merged quickly, feel free to ping me on Discord.

[2019-03-30 20:26] #98 closed

[2019-04-12 16:47] rwjblue opened #108 "Integrate FastBoot Info"
I'm not 100% sure how to do this yet, but this came up on a recent FastBoot team call (thanks @mansona!) and I think its a great idea.

Can we brainstorm just how best to do this?

[2019-04-12 17:21] sdhull commented on #108
Maybe there should be a top-level section (not sure what learning team calls these things) called "Deployment" and the sub-items could be "Static Deployment" and another titled "Server-Side Rendering"?

That would probably necessitate some changes to the existing "Deployment" page in the "Tutorial" section.

[2019-04-19 17:35] llunn commented on #85
@mansona I can do this; but beforehand, the `ember-cli-build.js` file for an addon contains the comment:

[code]

Can you clarify the meaning of `app's build file`?  Is this the `ember-cli-build.js`  file for the consuming application of the addon?

[2019-04-19 21:26] mansona commented on #108
At the fastboot meeting today there was a bit of confusion as to what this issue was referring to so I thought I'd give some context.

This issue originally came out of the fact that I personally didn't know what the `updateFastbootManifest()` hook was supposed to do and there seemed to be some confusion in the wider community too (with some discussed examples of addons doing some strange things w

[2019-05-15 01:10] villander commented on #81
@mansona I don't understand this question. Where are this logo? do you want me to put it in `guidemaker-ember-template`? and make it configurable?

[2019-05-15 07:37] mansona commented on #81
@villander yes this would be a change to guidemaker-ember-template and it would need to be configurable (so it doesn't show up in other sites that use this template)

[2019-05-20 13:57] #85 closed

[2019-05-20 14:18] #68 closed

[2019-05-20 15:37] villander commented on #108
I think that `Fastboot/SSR` must be placed on "Application & Concerns" on Ember guides, like Ember engines was added - https://guides.emberjs.com/release/applications/ember-engines/

[2019-05-20 15:43] villander commented on #2
I think that it already documented on `ember-engines` guides. And lazy loading will not be a exclusively feature of ember-engines, but of embroider as well. So I thinks that we must avoid an overhead info for while.

[2019-05-24 20:40] jenweber opened #114 "Align Ember CLI/`ember-cli` product name across websites"
In https://github.com/ember-learn/cli-guides/pull/107, there was discussion about making the name consistent across websites, but we need to take a methodical approach to be successful.

This issue is to remind us that we haven't done that work yet, and we should.

The next steps are to write up a doc describing what should change, why, where, and when, as well as showing how the name will look in

[2019-06-05 20:39] rwjblue opened #116 "Document altering entry point (allowing ember addon and "normal" package usage)."
In ember-cli (for a very very long time) it has been possible to have ember-cli use a different main entry point for the addon than what a normal `require('my-package-name')` would return.

The way to do this is to add an `"ember-addon": { "main": "some-other-file.js" }` to your `package.json`. Normal `require` invocation will look at the `main` entry point, and `ember-cli` will look at `some-othe

[2019-06-05 20:40] rwjblue opened #117 "Document authoring a custom command in an addon."
Something like:

[code]

[2019-06-06 00:02] #46 closed

[2019-06-25 18:34] jenweber opened #119 "Finish "project layout" to name all files"
It is confusing that `index.html` is missing from the explanations.

[2019-08-20 00:44] jenweber opened #124 "Refactor references to ajax"
We still talk about ajax in a few places.

[2019-08-20 00:55] maxwondercorn commented on #124
Do we want to update these to fetch?

[2019-08-20 16:14] mehulkar opened #125 "Document public API on main website"
Add the API reference here: https://cli.emberjs.com/release/api-documentation/

There's probably some infrastructure work to make this happen automatically, but I think we can start by manually documenting the methods available to an addon in `index.js`? I don't think the methods change very often. Here's the list (taken from https://ember-cli.com/api/classes/Addon.html)

- config
- blueprintsPath

[2019-09-25 19:23] D3AH opened #132 "Add documentation about analytics"
Now is no information in the page about what is send with analytics enabled.

We should add this info https://github.com/ember-cli/ember-cli/blob/master/docs/analytics.md in the Appendix section.

[2019-10-02 14:24] jenweber opened #134 "Octane - Update component generators explanations"
In the CLI guides, we have a section on generating components, https://cli.emberjs.com/release/basic-use/cli-commands/

In Octane, `ember g component` gets you just the test and template. Flags are needed to generate a glimmer-based or classic component, and we should cover them in this guide. The CLI guides are not versioned, so we need to make sure that we explain both Octane and non-Octane beha

[2019-10-02 14:46] gokatz commented on #134
I'd love to pick this up.

[2019-10-02 17:10] jenweber opened #135 "Octane - add octane layout to reflect component co-location"
In several places throughtout these guides, we show the file paths for components as `components/my-component.js` and `templates/components/my-component.hbs`. These references need to be updated to reflect the new structure where both hbs and js files are in `components`. Since the cli guides are not versioned, we should show both classic and octane layouts.

Here's the main page to update: https:

[2019-11-01 04:29] villander commented on #2
makes sense @jenweber?

[2019-11-17 03:54] maxwondercorn commented on #119
@jenweber I believe #127  fixed this this issue so this can be closed.  If not, I can create another PR with additional changes

[2019-12-02 15:21] maxwondercorn commented on #117
I'll pick this one up. It may be a week or two before I get to it

[2019-12-03 16:41] MelSumner commented on #62
@oligriffiths we're almost finished with all things Octane- do you think you could get a PR into the official guides soon? Thank you for working on this!

[2019-12-12 02:42] xg-wang commented on #116
I think this should be a RFC and built into default addon blueprint, rather than teaching addon authors.

[2019-12-12 19:00] rwjblue commented on #116
Sure, seems totally fine to me.

[2020-01-15 11:36] locks commented on #78
Tracked in https://github.com/ember-learn/cli-guides/issues/114.

[2020-01-15 11:36] #78 closed

[2020-01-15 11:38] locks commented on #119
Thanks max!

[2020-01-15 11:38] #119 closed

[2020-03-07 05:20] mehulkar opened #148 "How to test an addon with different app configs"
There's no documentation on how to test an addon with diffferent runtime configs.

I see some addons doing something like generate multiple apps with different config/environment.js files and run the test suite for this apps, but I have no idea how to do this right.

[2020-03-07 05:25] Gaurav0 commented on #148
The standard solution (for now) is ember-try, but it has plenty of gaps.

[2020-03-07 06:19] mehulkar commented on #148
Oh neat, I thought ember-try just lets you change out the ember version and other deps, didn’t know it could change the config too. I will try that out

[2020-03-15 17:50] mehulkar commented on #125
These docs also need to do a better job of explaining when to use which hook

[2020-03-26 17:39] mehulkar opened #151 "Document how to debug addon build steps"
3 things for debugging that I do that others might find useful:

- `node inspect`
- `DEBUG=*` which is *extremely* noisy, but once you see that and then figure out that it's using the npm `debug` package (or have @bendemboski tell you 😄)
- `npm link` and `isDevelopingAddon() { return true; }`

Documenting these under Advanced Use > Debugging with some examples would be great

cc @jenweber

[2020-03-26 17:48] mehulkar opened #152 "Document adding/updating files during the build"
Couple more cookbook topics that the guides don't cover (afaik)

1. Adding files during the build process (especially if the contents need to be fetched async)
1. Changing the contents of a file during build (useful for static JSON in `public/` for example

[2020-03-26 18:02] mehulkar opened #153 "Reorganizing Content"
Looking through the guides, I think the nav structure could look like this:

[code]

Some other things that I can't find a place to put are

- FastBoot: i.e. how to handle FastBoot cases without including FB as a dependency and how to write tests for FastBoot
- Testing (running tests at `localhost:4200/tests`, the fact that the app is mounted in a div, not an iframe, etc)

[2020-03-26 18:38] locks commented on #153
I think a proper proposal would be an RFC, like the one for [the Guides restructure](https://emberjs.github.io/rfcs/0431-guides-restructure.html), or the [one for the current CLI Guides restructure](https://emberjs.github.io/rfcs/0120-cli-guides.html).

[2020-03-26 19:05] locks commented on #152
Where is the cookbook section of the guides?

[2020-03-26 19:15] mehulkar commented on #153
I can understand where you're coming from, but I don't think better docs is really something the community needs to buy into (which is the purpose of an RFC). If this proposed restructure is too heavy-handed to do without an RFC according to the learning team, I'll just close this issue, but that would leave me very disappointed 😢

[2020-03-26 19:16] mehulkar commented on #153
To be clear, I would not be able to dedicate time to go through the RFC process for this (especially since it's been unfruitful for me already).

[2020-03-26 19:17] mehulkar commented on #152
There is none at the moment! The topic of cookbook came up in a DM with @jenweber

[2020-03-26 19:39] kategengler commented on #153
RFCs aren't just for community buy-in. They provide awareness of changes in the community and between all the ember teams. As @locks points out, the current CLI guides restructure was RFC'd not that long ago, so why would we suddenly abandon our process? https://emberjs.github.io/rfcs/0120-cli-guides.html

[2020-03-26 20:21] mehulkar commented on #153
@kategengler Fair enough, I didn't know that the current structure was created through the RFC process, thanks for pointing that out. The precedent changes my mind that this restructure would make sense to go through RFC (which is still sad, but 🤷‍♂).

Since I'm not willing to put in that kind of time though, I think it's best to just close this and continue opening specific issues about what's mi

[2020-03-28 18:51] locks opened #158 "Update "Stylesheet compilation" for current behavior"
As mentioned in https://github.com/ember-cli/ember-cli/issues/7021#issuecomment-299077334, the [CSS](https://cli.emberjs.com/release/advanced-use/stylesheets/#css) portion of stylesheet compilation is documenting behavir that no longer happens, and should be updated.

[2020-03-31 11:53] Gaurav0 commented on #151
Also how to use broccoli-debug

[2020-04-01 19:52] mehulkar opened #159 "Build targets page should be moved to CLI guides"
I never knew this page existed and I've always been confused about `config/targets.js` and how it actually gets consumed. I think it should be moved to the CLI guides

https://guides.emberjs.com/release/configuring-ember/build-targets/

[2020-04-02 15:49] jenweber opened #160 "Investigate if we can improve the output of ember help to lessen the need for document all commands"
#162 proposes expanding some commands guides. The _best_ would be if we didn't need to provide so much info about interpreting the output of `ember help`. This issue tracks suggestions/ideas based on what we find while writing docs.

[2020-04-02 17:05] rwjblue commented on #151
I typically use `DEBUG=*,-babel:*` or `DEBUG=ember-cli:*` (reduces a ton of noise).

[2020-04-02 23:21] jenweber opened #162 "List out more CLI commands and give more `ember help` guidance"
Community feedback indicates that people need more guidance for using `ember help` and understanding the output, as well as searching for common commands. This is a frequently-requested feature of the CLI guides, so it's a big win if somoene works on this!

We should expand our list of commands and include more `ember help` examples.

To-do:
- Create a new page in the guides called "CLI Commands R

[2020-04-02 23:23] mehulkar commented on #159
Same with https://guides.emberjs.com/release/configuring-ember/configuring-ember-cli/

[2020-04-03 00:01] #151 closed

[2020-04-03 00:16] mehulkar commented on #88
Bit confused about what the proxy does. Is the only use case to be able to `fetch('/data.json')` in the app, and having that hit `127.0.0.0:4000/data.json`?

In that case, why not just `fetch(${config.host}/data.json)` and set the config in `config/environment.js`?

[2020-04-03 00:18] mehulkar commented on #55
@simonihmig this is mostly not happening anymore as far as a I can see. Good to close? I still see `version.json` 404'ing, but I'm guessing that's a separate issue

[2020-04-03 00:39] mehulkar commented on #162
Instead of trying to come up with a complete list, i'd recommend *removing* everything from the Guides and simply telling people to use `ember help`. Any specific issues should be filed as such.

[2020-04-03 00:41] mehulkar commented on #77
@jenweber @locks I think this can be closed. `npm run test:node` checks for broken links using guidemaker, from what I can tell

[2020-04-03 09:26] simonihmig commented on #55
@mehulkar thanks for the reminder. I just did test it our again, but still there are some 404 coming up. It seems this is still the case for every first page of a new chapter (basic use, advanced, addons etc.):

![image](https://user-images.githubusercontent.com/1325249/78345409-ea555e80-759d-11ea-8711-0d208366ec67.png)

[2020-04-03 16:19] #117 closed

[2020-04-06 14:31] mansona commented on #55
This just requires an update to guidemaker for it to be fixed 👍 it was fixed in a bugfix upstream

You might have to update guidemaker-ember-template at the same time 🤔 but you **shouldn't** 😂

[2020-04-09 14:13] Gaurav0 commented on #153
@mehulkar I'd like to see this move forward as an RFC. If you and I can find a time to tak, I can discuss taking over writing the RFC with your help and finding a learning team champion.

[2020-04-09 16:45] jenweber opened #168 "Determine a rule-of-thumb for what content should be moved from the Ember Guides"
@mehulkar and @Gaurav0 are working on this! This issue just helps to track that they are interested in helping, and also serve as a place where others can add comments.

The question we are trying to answer is, how do we know what content should be moved from ember.js guides to ember-cli guides? More broadly, is there a definition or description that will help us understand whether new content bel

[2020-04-09 17:41] mehulkar commented on #168
The broad separation for me is "things that happen at build time" vs "things that happen in the runtime". There are two overarching themes that I'm seeing from the core team that support this:

- Alternative build tools enabled through Embroider https://github.com/emberjs/rfcs/pull/507
- "Exploding" packages https://github.com/emberjs/rfcs/pull/284

Neither of these are a reality (and possibly won

[2020-04-09 18:36] mehulkar commented on #124
@jenweber @locks I think this can be closed now

[2020-04-09 18:48] #124 closed

[2020-04-21 00:20] mehulkar opened #170 "Overriding files from addons"
It would be useful to document how to override files from addons. For example, if an addon contains `services/foo.js`, and an app wants to extend that service to add their own behavior, how would they do that?

[2020-04-24 00:03] #170 closed

[2020-04-24 00:17] jenweber commented on #168
I really like this framing. It makes sense to me and it seems like a natural division.

I would like to get some feedback on this from @Gaurav0 @maxwondercorn @ember-learn/cli-core-team  if y'all have thoughts. We are trying to come up with a rule of thumb that would be used when trying to decide if new content should be added to the Ember Guides or CLI Guides, as well as for migrating content out

[2020-04-24 03:39] Gaurav0 commented on #168
My thoughts are very much in line with @mehulkar For example, build targets is a build time concern for now and belongs in the cli guides.

Another way to consider looking at it is whether the code is running in node.js or running in a browser. Unfortunately, Fastboot makes this a less clear separation, so I think build time or run time is better.

[2020-04-24 09:11] locks commented on #168
During a conversation with @mansona I was reminded of an old guideline we also keep in mind, which is that the Guides should cover the default experience of `ember new my-project`.
I think an example we brought up as fuzzy is `contentFor`, since to do something with it you need at least an in-repo addon, but it seems unlikely to be an 80% case.

[2020-04-24 09:12] locks commented on #168
And as always, think of the guides as actual books x)

[2020-04-24 15:29] mehulkar opened #172 "Document how to do contentFor"
Would be nice to have documentation of how to insert `link` tags via `contentFor` hooks in an in-repo addon. https://github.com/ember-learn/cli-guides/issues/168#issuecomment-618898540

Pretty common thing that an app developer might want to do

[2020-04-25 17:04] jayjayjpg opened #173 "Upgrade CLI Guides to Ember Source 3.16"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:11] jayjayjpg opened #174 "Create a Staging Demo App for Testing the Website Redesign"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:11] jayjayjpg opened #175 "Apply the Website Redesign"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-26 06:05] vinodhrajamuralidharan commented on #173
https://github.com/ember-learn/cli-guides/pull/176

[2020-04-27 20:21] maxwondercorn commented on #168
I just saw this issue.  I generally agree that runtime vs build is a good place to draw the line. While I can't think of an example there may be a need to have a "light" introduction in the Ember Guides and the details in the cli guide. Since I can't think of anything this would be pretty rare.

I do like the analogy that the guides should read like a book.

[2020-04-29 13:46] jayjayjpg commented on #173
Fixed via @vinodhrajamuralidharan 's work on https://github.com/ember-learn/cli-guides/pull/177 :sparkles:

[2020-04-29 13:46] #173 closed

[2020-04-30 08:13] mansona commented on #174
This is already done 🎉 as this is being hosted on Netlify there is a [preview link](https://deploy-preview-141--ember-cli-guides.netlify.app/release/) that is listed at the bottom of the [update PR](https://github.com/ember-learn/cli-guides/pull/141) 👍

[2020-04-30 08:13] #174 closed

[2020-04-30 08:18] mansona commented on #175
Hey @jayjayjpg 👋

I'm just in the process of updating the tracking issue to be using the Github Project boards (as we discussed) but I don't know what to do with this issue 🤔  I don't know what this issue is supposed to be tracking

The idea is to make sure there are **specific** tasks in https://github.com/orgs/ember-learn/projects/40 for people to do, probably from an audit of the output of http

[2020-04-30 08:20] mansona commented on #174
Actually as the cli-guides is using guidemaker-ember-template, all of the work is likely going to be done in the template project https://github.com/ember-learn/guidemaker-ember-template/pull/30 you can see the demo link at the bottom of that PR 👍

[2020-04-30 15:14] jenweber opened #179 "Add search using the same technique as the guides"
Right now, we don't have search at all. Whatever happens here, the same work will be useful for the Ember Guides, and vice versa!

[2020-04-30 15:16] jenweber commented on #179
My goal for initial launch of the CLI guides is to achieve feature parity with a refreshed look, so I do not think this should be a blocker to ship. It would be an excellent feature to include if someone is inspired to work on it, and broadly it does need to be done, regardless of applying new designs.

[2020-04-30 15:22] jenweber opened #180 "Apply new styleguide - Ensure accessibility"
For applying the new styleguide, before we ship, we need to evaluate the accessibility and fix problems uncovered.

This is the branch that has the WIP work:
https://github.com/ember-learn/cli-guides/pull/141

This accessibility review should be done once we feel like most of the visual bugs are knocked out on that branch.

[2020-04-30 15:26] jenweber opened #181 "Apply the new styleguide - Evaluate for browser compatibility"
For applying the new styleguide, before we ship, we need to evaluate the browser compatibility and fix problems uncovered.

This is the branch that has the WIP work:
#141

This review should be done once we feel like most of the visual bugs are knocked out on that branch.

[2020-04-30 15:31] jenweber opened #182 "Apply the new styleguide - Ensure good mobile experience"
For applying the new styleguide, before we ship, we need to evaluate the mobile experience and fix problems uncovered.

This is the branch that has the WIP work:
#141

One known issue is that there are possibly double hamburger menus! This work can be done ASAP. Then later, when we think we are ready to ship, we should do another QC.

[2020-04-30 15:36] jenweber opened #183 "Apply the new styleguide - use the edit pencil from the styleguide"
Blocked by https://github.com/ember-learn/ember-styleguide/issues/321

Once that is merged and there's a release for it, make a PR into this branch: https://github.com/ember-learn/cli-guides/pull/141

[2020-04-30 16:32] jenweber commented on #168
We discussed this in today's learning team meeting and agreed on the rule of thumb that build time info belongs in the CLI guides. This is especially true for new content. On a case by case basis, some build time info may remain in the Ember Guides if it is important for the most common Ember user's experience. If 80% of Ember users need it, it should probably stay in the Ember Guides so that it r

[2020-04-30 17:07] jenweber opened #184 "Apply the new styleguide - update the sidebar"
Work should be done starting from this branch: https://github.com/ember-learn/cli-guides/pull/141

The actual commits should be made to ember-learn/guidemaker-ember-template.

The goal is to get the sidebar using the colors from the Ember Styleguide https://github.com/ember-learn/ember-styleguide, have passable typography, and generally look in harmony with the redesign.

As of opening this issue,

[2020-04-30 17:14] jenweber opened #185 "Apply the new styleguide - Fix weird CSS within articles"
Some things look a little funny in https://github.com/ember-learn/cli-guides/pull/141. Start your work from that branch, and open a PR back into that branch.

Some of these problems may be from this codebase or in guidemaker-ember-template. Your first step should be to find where the style comes from, and then figure out where to make the fix. In some cases, possibly all you need to do is delete C

[2020-04-30 23:44] #159 closed

[2020-04-30 23:55] jenweber commented on #168
Ember Learning Team handbook PR is here: https://github.com/ember-learn/handbook/pull/36

[2020-05-01 15:49] jayjayjpg commented on #184
Might it make sense to also add a point as part of this issue on updating the width of the outline on focus / hover? I think it'd be nice to display it full-width instead of having it cut off to the side - what do you think?

<img width="288" alt="Screenshot 2020-05-01 at 17 45 38" src="https://user-images.githubusercontent.com/8811742/80818749-0b789180-8bd4-11ea-80c0-ac94dd66ab25.png">

[2020-05-07 13:21] jenweber commented on #182
nickschot is working on the double hamburger menu! He is implementing a mobile nav similar to what is in the deprecations app.

[2020-06-24 19:21] gabrielcsapo opened #188 "[docs] server middleware"
This used to exist in https://ember-cli.com/user-guide/#developing-on-a-subpath but currently doesn't exist on the new docs anymore.

https://cli.emberjs.com/release/basic-use/folder-layout/ also doesn't mention the server folder as being something that is optional part of creating an app or addon.

[2020-06-24 19:33] rwjblue commented on #188
Thank you for reporting!

[2020-07-16 12:49] jenweber opened #190 "Figure out a plan for https://ember-cli.com/api/"
Every section on the  old website has 2 URLs:
https://ember-cli.com/user-guide/#naming-conventions
https://ember-cli.com/naming-conventions

Both need to be accounted for to not harm SEO.

Spreadsheet https://docs.google.com/spreadsheets/d/1rVShNyFhUZqS-oeQQDAJC7u2_KU5WPct2kdhCGvBKAg/edit?usp=sharing

Options:
1. Could make a netlify redirects file that lives in the new guides, but we would have t

[2020-07-21 22:10] mehulkar opened #191 "Document Addon authoring under v2 spec"
As mentioned by @ef4 in https://github.com/emberjs/rfcs/pull/578#issuecomment-643481309, one of the next steps towards modernizing Ember CLI's build system is teaching Addon authors how to convert their addons to be in native v2 spec.

Some of this is described here: https://github.com/embroider-build/embroider/blob/v0.19.0/ADDON-AUTHOR-GUIDE.md#support-level-embroider-native, but we need this doc

[2020-07-22 14:34] rwjblue commented on #191
I think the main blocker here is providing a shim layer that addon authors can use in order to author their addons that can be consumed by both Embroider and classic Ember CLI build pipeline. I believe that the Embroider folks (I have spoken to both @ef4 and @thoov about this fairly recently) are planning this work, but I'm not sure of the timeline.

In the meantime, we could totally document (for

[2020-07-22 16:26] mehulkar commented on #191
Yeah I saw that @simonihmig had gotten it running in ember-bootstrap as well: https://github.com/kaliber5/ember-bootstrap/pull/930.

So is it correct to say that addons can _not_ be written in v2 until this shim is ready?

I'll get this started! @jenweber, I noticed there's a blank `testing.md` page (added in #40): https://github.com/ember-learn/cli-guides/blob/master/guides/writing-addons/testing

[2020-07-22 16:48] rwjblue commented on #191
Yes, that is essentially true, though concretely it is probably possible to author an addon that _only_ works with Embroider (e.g. is not compatible with apps that use the classic build system) but I don't think any of us really think it is a good idea to bifurcate (especially when we legitimately think the shim layer will be straight forward and fully compatible).

[2020-07-22 18:28] ef4 commented on #191
Yeah, in practice even this is hard, because you're always going to have some v1 addons in the build, and those addons want to see the traditional instance of EmberApp, and the EmberApp wants to see traditional instances of all the addons, so at that point your v2 addon really needs to be able to present itself as v1.

I have time booked this afternoon to work on writing down the remaining TODOs f

[2020-07-30 13:07] jenweber commented on #190
We are experimenting with pulling the api docs repo into the website repo and hosting on netlify, which would mean we can do incremental redirects. See https://github.com/mansona/ember-cli.github.io/pull/1

[2020-08-13 13:01] jenweber commented on #190
We cannot transfer the repo from ember-cli to ember-learn because that would make the GitHub Pages stop working.

We confirmed that netlify redirects will work ok for our purposes.

The user-guide has all the content on it, so we need to finish moving some of the content that does not have a 1:1 match. This blocks hosting changes.

The easiest way to move forward with hosting appears to be to fork

[2020-08-24 21:54] MelSumner opened #195 "add info about new `--lang` flag"
Once the version of ember-cli with the `--lang` flag is released, the documentation should be updated to reflect the new flag.

[2020-09-12 10:18] fozy81 commented on #162
@jenweber I'm interested to help. I've put together a work in progress PR listing all the commands. But not quite sure exactly what format we are aiming for. Do we want almost a screen dump of `ember --help` or add more description for each command/options :thinking: . Anyway, happy to help, it's a really good learning experience discovering useful commands/options I've not used before :smile: - n

[2020-09-12 23:01] jenweber commented on #162
Hi @fozy81, thanks for your help! I think we could start with a screen dump, and if that seems insufficient, that’sa good signal that we need to update the CLI help text as well. We already have a page with longer descriptions for the most common commands, aimed at beginners. So this new page can be more like a reference.

@mehulkar  that was my initial plan for the Guides, but the learning team h

[2020-09-13 12:04] fozy81 commented on #162
Hi @jenweber @mehulkar  I've updated the PR with a screen dump of `ember --help` and added a note to use `ember --help` for the most up to date info/version. It looks okay on mobile, I added line breaks into the ```bash```  output at around 60 characters per line so it fits better on to a small screen without overflowing.

Does this fulfill the feedback/issue - let me know if anything needs changi

[2020-09-22 10:43] ijlee2 opened #197 "Upgrade app to Ember 3.22 (Part 1 of 2)"
## Problem

~Please wait till #198 has been completed and merged. Once that issue is complete, you should see `npm-run-all`, `ember-template-lint`, and `eslint` installed already.~ (This issue is unblocked now!)

If you run `npm outdated`, you will see that many packages can use an update. At the time of writing, I saw,

[code]

Moreover, the `cli-guides` app currently uses Ember `v3.16.8`. Let's

[2020-09-22 10:53] ijlee2 opened #198 "Upgrade app to Ember 3.21 (Part 2 of 2)"
## Problem

~~Once #197 has been completed and merged, we can leverage `npm-run-all` to parallelize lints and tests.~~

After talking to @takshch, I think we can solve this issue in a slightly different manner. I've updated the TODOs below.

## TODOs

### Part 2. Update CI

- [ ] Install `npm-run-all`.

[code]

- [ ] Uninstall `ember-cli-template-lint` and `ember-cli-eslint`. Afterwards, install `

[2020-09-29 01:55] ijlee2 commented on #198
General notes: Hi, everyone. To allow more people to participate in Hacktoberfest, please claim only 1 issue in this repo (unless there are no others who can help). 🙂

Please check `#hacktoberfest` on [Discord](https://discord.gg/emberjs) to find other repos that can use your help. Thanks and happy Hacktoberfest!

[2020-09-29 01:55] ijlee2 commented on #197
General notes: Hi, everyone. To allow more people to participate in Hacktoberfest, please claim only 1 issue in this repo (unless there are no others who can help). 🙂

Please check `#hacktoberfest` on [Discord](https://discord.gg/emberjs) to find other repos that can use your help. Thanks and happy Hacktoberfest!

[2020-10-01 12:45] jenweber commented on #190
Closed - we made https://github.com/ember-learn/ember-cli.github.io, put the yuidoc files in the public folder, and deployed to Netlify

[2020-10-01 12:45] #190 closed

[2020-10-01 12:52] jenweber opened #199 "Add links on the Getting Started guide to Basic Use command and Commands reference"

[2020-10-01 12:56] jenweber opened #200 "Add section on Naming Conventions to the Folder Layout guide"
In the old guides, we had this page that covers Naming Conventions: https://ember-cli.com/naming-conventions

We need to summarize that content (one paragraph plus examples) and add it to https://cli.emberjs.com/release/basic-use/folder-layout/ The old guide may have outdated information, which you should update for the summary.

[2020-10-01 16:35] ijlee2 commented on #198
@takshch I updated the TODO instructions. Will you have a look?

[2020-10-01 17:45] #198 closed

[2020-10-01 19:29] maxwondercorn commented on #200
I started working on a PR for this

[2020-10-03 03:18] mehulkar opened #203 "Document app re-export"
Document why addons re-export everything from addon/ into app/.

[2020-10-09 17:48] #195 closed

[2020-10-09 21:08] #200 closed

[2020-10-17 06:11] maxwondercorn commented on #197
I can pick this one up

[2020-10-22 01:35] #197 closed

[2020-10-28 20:51] cah-johnryan commented on #81
Hi @mansona,

In looking through this I see that the logo exists at https://github.com/emberjs/website/blob/master/source/images/brand/ember_CLI-Light.png.

Are you ok with me creating a copy of this here: https://github.com/ember-learn/guidemaker-ember-template/tree/master/public/images/logos?  I don't readily know how else I can make this asset available in the guidemaker repo without porting it

[2020-11-01 04:28] neojp commented on #162
I have submitted the PR #207 using the [WP-CLI Commands page](https://developer.wordpress.org/cli/commands/) as a reference. It includes the following:

- Added tables of contents with links to each command
- Added anchored headings to each command
- Added description to each command

## Screenshots

![image](https://user-images.githubusercontent.com/127994/97795110-93b60e80-1bd8-11eb-9712-457cf78

[2020-11-01 18:06] neojp commented on #162
@jenweber Now that we have merged #207, I have sent a new PR with the remaining `ember generate` blueprints on #208.

Hopefully with this we can finally close this issue.

I'd love to figure out a way to automate this process to avoid this manual process if the documentation for the scripts change, but that could live under a separate issue if we ever get to that.

[2020-11-03 01:18] jenweber commented on #162
Thanks everyone for the help! The new page is live with several improvements from multiple people ❤️

[2020-11-03 01:18] #162 closed

[2020-11-05 13:42] mansona commented on #160
So #162 really did a great job of adding commands to the cli-guides so this issue can be closed now 🎉  we can re-open (or open a new issue) if the need arises again 👍

[2020-11-05 13:42] #160 closed

[2020-12-14 04:51] maxwondercorn commented on #34
@jenweber I'm not sure this issue is valid/should remain open due to relevancy. `documenting.md` does indirectly mention gh-pages using `ember-cli-github-pages`

[2021-01-27 01:13] villander opened #214 "Document mocks and fixtures by node server"
In the old site, we had a section about the creation of node servers

**Old site** -  https://ember-cli.com/user-guide/#mocks-and-fixtures
**Ember CLI blueprint** - https://github.com/ember-cli/ember-cli/tree/master/blueprints/http-mock/files/server/mocks

We have a good example of the usage here on ESA addon - https://github.com/simplabs/ember-simple-auth/tree/master/packages/test-app/server

cc:

[2021-02-20 04:11] locks commented on #158
Thanks!

[2021-02-20 04:11] #158 closed

[2021-02-22 11:51] Windvis opened #216 "Update ember-cli-uglify references and configuration"
ember-cli-uglify was renamed to ember-cli-terser and [included in the 3.21.1 release](https://github.com/ember-cli/ember-cli/releases/tag/v3.21.1). However, the cli docs [still reference ember-cli-uglify ](https://github.com/ember-learn/cli-guides/search?q=uglify).

[2021-02-22 14:20] rwjblue commented on #216
Ya, thanks for reporting definitely should get this fixed up.

I think we just need to fix these two locations:

https://github.com/ember-learn/cli-guides/blob/fe580fb1fc322345c83cfc8f478b06269f2675ed/guides/advanced-use/index.md

https://github.com/ember-learn/cli-guides/blob/fe580fb1fc322345c83cfc8f478b06269f2675ed/guides/advanced-use/asset-compilation.md

Definitely would love a PR for this!

[2021-02-22 14:38] Windvis commented on #216
I'll try to take a look when I find some time in the coming evenings. :+1:

[2021-02-26 12:03] #216 closed

[2021-03-04 19:50] yaxinr opened #219 "add recomendation to use wsl 2 on windows"
[use of wsl 2](https://stackoverflow.com/a/66481419/1359764) give x10 faster speed compilation.
many programmers hate to use emberjs because of slow compilation and recompilation on windows.

[2021-03-05 10:59] ijlee2 commented on #219
Hi, @yaxinr. Thank you for suggesting a solution to improve the developer experience of Windows users. I think it's a good idea to provide the solution in https://cli.emberjs.com/release/appendix/windows/.

I briefly looked at the StackOverflow answer. My initial impression was that the answer is a bit short and may be lacking details for new users of `wsl 2`. (I haven't used Windows in some time,

[2021-03-26 04:37] #219 closed

[2021-03-31 03:04] esquith commented on #214
@villander Your link redirects to the normal CLI guides, unless I'm missing something here. Theres nothing about mocks or fixtures on that page.

[2021-03-31 11:44] villander commented on #214
There's nothing because the "old site" is redirecting to the new site. But it was there.

You need to find some way to check the "old site" codebase to be able to pick this information @esquith

[2021-03-31 14:56] esquith commented on #214
@villander Thanks! My apologies.

[2021-04-21 09:42] rinoldsimon opened #228 "Edit Redirects to 404 path"
Editing guides at all the pages are redirecting to 404

When I click the edit icon at the top right corner https://cli.emberjs.com/release/appendix/dev-tools/, It takes me to
https://github.com/ember-learn/cli-guides/edit/master/guides/appendix/dev-tools.md **(404)**

Actually, it should take me to
https://github.com/ember-learn/cli-guides/edit/main/guides/appendix/dev-tools.md

[2021-04-21 11:25] ijlee2 commented on #228
@rinoldsimon Thank you for letting us know of this issue. We recently updated the default branch name for `cli-guides` to `main`, and didn't realize the scenario with the edit link.

The edit link is hardcoded in `guidemaker-ember-template`. Possible solutions are:

- Release a fix in [`guidemaker-ember-template`](https://github.com/ember-learn/guidemaker-ember-template/blob/master/app/templates/c

[2021-04-21 12:33] jenweber commented on #228
I think we can add this to Guidemaker as an addon config pretty easily. I’ll try to look at it today or ask Chris for help when we pair on Thursday.

A third option is to recreate the “master” branch so that the links go somewhere. I think I will do that as well, while we work on the other task. How does that sound, @ijlee2 ?

[2021-04-21 12:57] ijlee2 commented on #228
@jenweber Yep, a temporary revert of the branch name is okay with me. Thanks for your help!

[2021-04-21 13:03] jenweber commented on #228
We don’t have to revert anything, thankfully. I will branch from main, call the new branch master, and leave main as the default. I’ll do that now. I’ll also make sure that removing it is tracked in an issue.

[2021-04-21 13:19] jenweber commented on #228
Step one is done and the links work again.

[2021-06-04 20:18] mehulkar commented on #214
Maybe the same as https://github.com/ember-learn/cli-guides/issues/188

[2021-08-11 12:06] MelSumner commented on #179
+1 for this issue; what is the next step to make this idea happen?

[2021-09-07 15:22] MelSumner opened #236 "Feature Request: ability to see all the docs on a single page"
It would be convenient if there was a mode where I could see all of the docs on a single page view. Thanks for considering!

[2021-10-29 14:39] marcoow opened #240 "Fastboot not rendering line numbers for code snippets?"
I just realized that FastBoot doesn't seem to be rendering line numbers for code snippets so those only pop-in when re-rendering the snippet client-side:

https://user-images.githubusercontent.com/1510/139454559-7b262e2c-59ab-4283-9ef4-dc8deb483e22.mov

[2021-10-30 12:36] Windvis commented on #228
This commit seems to add the needed configuration: https://github.com/ember-learn/cli-guides/commit/2b376bcd9e3d9d1eae4eb3a669221faed9a16017

So I think this issue can be closed?

[2021-12-29 17:49] villander commented on #62
@oligriffiths any update here?

[2021-12-29 17:59] villander opened #243 "Document ember-cli Addon Hooks"
We don't have a clear and easy way to learn ember-cli hooks even for experienced Ember.js developers sometimes we have to jump into the ember-cli [codebase](https://github.com/ember-cli/ember-cli/blob/bd052719e76a9d15be7a7f2e20fa1b2c082a3700/lib/models/addon.js) to understand many points about the hooks:

I'd love to see these hooks very well documented into CLI Guides. How can we start this initi

[2022-01-03 15:33] jenweber commented on #243
Thanks for raising this! We need an author for the content. Just one or two examples in a short article would even be a huge help. Are there any blog posts covering this? We could ask the authors if they would let us use the content.

I don’t write any addons using hooks and so I can’t really guide anyone directly, but I can help review PRs for clarity and test code samples.

[2022-01-03 15:44] villander commented on #243
@miguelcobain @rwwagner90 @kaliber5 @ef4 @runspired I know that you guys have a lot of experience writing addons for the ember community and I appreciate it a lot.

I’ve been mentoring many developers these last years. And even for experienced developers is too hard to play with addons when people need to do something more complex with addon hooks. They always need to jump in an addon already buil

[2022-01-03 15:52] rwwagner90 commented on #243
@villander I usually stumble through this stuff myself and I don't know a ton about it. However, I would be happy to help write up what I know. Where should we start?

[2022-01-03 22:05] ef4 commented on #243
This is another reason why I am working to kill off the traditional (v1) addon format. They're way too hard to contribute to, and that's not primarily because of a lack of docs. It's because they're complicated and genuinely hard to work with.

I would rather get help on learning materials for v2 addon authoring than try to explain how v1 addons work. The end result will be more beginner-friendly.

[2022-01-03 22:52] maxwondercorn opened #244 "Using TailwindCSS with Ember"
Document best practice(s) for integrating/using TailwindCSS with Ember.

Issue based on Discord discussion re: difficulty in setting up/integrating TailwindCSS. Using PostCSS ([chrism/emberjs-tailwind-purgecss](https://github.com/chrism/emberjs-tailwind-purgecssl)) has been default method.  Alternative and potentially simpler methods are now available with Tailwind's JIT mode and CLI.

This would

[2022-01-03 23:30] NullVoxPopuli commented on #244
I'll PR this later this week, thank you!!

[2022-01-06 14:30] jenweber commented on #243
@ef4 we are interested in helping to create the v2 addon docs. @villander and I are going to review the RFC and see what we can pull out from it. Can we meet with you once we have the bare bones sketched out?

I reached out to hashrocket to see if they will allow us to use the blog post they have about v1 hooks within our docs, to avoid writing new material.

@rwwagner90 can you tell me which hook

[2022-02-09 22:27] rwwagner90 commented on #243
@jenweber I am really not sure, to be honest. I usually just look them up when I have a need, and then they immediately exit my brain. I think we should probably look at top addons on Ember Observer and check the hooks they use.

[2022-02-21 13:26] NullVoxPopuli opened #251 ".ember-cli page does not document all options"
Ported from: https://github.com/ember-cli/ember-cli/issues/9791

--------------------

https://cli.emberjs.com/release/appendix/configuration/

at the time of writing, it only lists:
[code]

I _know_ there are at least 4 more options, but I forget what they're called :sweat_smile:

[2022-03-16 09:58] locks commented on #251
Send that PR over :)

[2022-04-27 22:00] #244 closed

[2022-05-03 12:33] hugopeixoto opened #257 ""How to deploy" link to official tutorial no longer exists"
In [How to deploy](https://cli.emberjs.com/release/basic-use/deploying/#howtodeploy), there's the following paragraph:

The official tutorial has since been rewritten and no longer contains instructions on how to deploy ember apps.The quick start section contains a section on how to deploy to netlify, though: https://guides.emberjs.com/release/getting-started/quick-start/#toc_deploying-your-app-to

[2022-05-05 04:27] jenweber commented on #257
Yes, that seems good to do.

Either that or there might be another deploying section in the guides we can link to.

[2022-05-05 09:35] hugopeixoto commented on #257
I didn't find any. Couldn't find any issues planning to create one either, but I might have missed it.

I'll make a PR removing this paragraph

[2022-05-06 03:48] #257 closed

[2022-07-25 11:11] locks opened #263 "Improve "Proxying network requests" section"
Currently, https://cli.emberjs.com/release/appendix/dev-tools/#proxyingnetworkrequests only shows a brief example proxying to another `localhost` address. I think this is confusing and could be improved with a bit more prose, as well as a more complete example using an external endpoint.

[2022-07-25 11:14] locks commented on #32
@jenweber can this be closed?

[2022-07-25 12:11] #32 closed

[2022-07-25 16:02] jenweber commented on #22
This ticket is still relevant.

The current blueprint for `testem` specifies Chrome. [here's the example output](https://github.com/ember-cli/ember-new-output/blob/f95333973be4e7eacf12e571273ffafe1f44f346/testem.js)

To close this issue:
- [ ] Add a new section to https://cli.emberjs.com/release/advanced-use/build-targets/ called "Testing with different browsers"
- [ ] Show the current output of t

[2022-07-25 16:03] #44 closed

[2022-07-25 16:03] jenweber commented on #44
Closed because no users have asked us for this content.

[2022-07-25 16:05] jenweber commented on #67
This issue is still relevant. We will need to solve this for showing TypeScript examples in the docs, and that project is underway. This ticket should not be picked up until someone checks in on the status.

See also https://github.com/emberjs/rfcs/pull/831

[2022-07-25 16:08] jenweber commented on #84
I am closing this issue because the file structure will likely change with [V2 addons](https://rfcs.emberjs.com/id/0507-embroider-v2-package-format).

[2022-07-25 16:08] #84 closed

[2022-07-25 16:09] #114 closed

[2022-07-25 16:12] jenweber commented on #132
This issue is still relevant and would be good for someone to write!

To do:
- [ ] Add a new page to the Appendix called Analytics
- [ ] Be sure to include the new page name in `pages.yml`
- [ ] Include the content from the page D3AH linked to
- [ ] Write an introduction explaining what these are and when to use them

[2022-07-25 16:14] #180 closed

[2022-07-25 16:14] #183 closed

[2022-07-25 16:14] #185 closed

[2022-08-22 13:40] laurmurclar opened #266 "404 on https://cli.emberjs.com/"
Noticed when trying to get to the CLI Guides from the main Ember guides.

To reproduce:
1. Simply open https://cli.emberjs.com/

or -
1. Go to https://guides.emberjs.com/
3. Open `Docs > CLI Guides` from dropdown in nav bar (Redirects you to https://cli.emberjs.com/)
4. Observe 404

This is the link mentioned in the homepage of this repo also so I assume it's still relevant and shouldn't be 404ing

[2022-08-22 15:43] jenweber commented on #266
Hello! Fixing this now. Thank you for reporting.

Root cause: https://github.com/ember-learn/cli-guides/pull/267

[2022-08-22 16:37] jenweber commented on #266
Fixed! Additionally, the Node version was set to 14 in the NODE_VERSION env variables for Netlify. I set it to 12 and rebuilt.

This is a temporary strategy. We need to get on Node 14 ASAP.

[2022-08-22 16:37] #266 closed

[2022-08-22 16:40] laurmurclar commented on #266
Thanks for fixing it so quickly Jen!